﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    width: 200px;
}

#hotels-list-container {
    height: 250px;
    background-color: #e6e6e6;
}

select, option {
    width: 200px;
    height: 25px;
}

input[type="submit"] {
    width: auto;
}

.navbar-inverse {
    background-color: #e6e6e6 !important;
    border-width: 0;
}

.navbar-inverse a{
    color: black !important;
}

.navbar-inverse a:hover {
    color: white !important;
}

.none-style-list ul, li{
    list-style: none;
}