﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One VVA Team<br />
    Ukrain,Kharkiv<br />
    <abbr title="Phone">P:380993344110</abbr>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:vladyslav.bilotserkovskyi@gmail.com">vladyslav.bilotserkovskyi@gmail.com</a><br />
</address>