﻿@model PresentationLayer.Models.RegisterModel

@{
    ViewBag.Title = "Register";
}

<h2>Регистрация</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <h4>Регистрация пользователя</h4>
        <hr />
        @Html.ValidationSummary(false)
        


        <div>
            Электронный адрес
            <div>
                @Html.EditorFor(model => model.Email)
            </div>
        </div>

        <div>
            Имя
            <div>
                @Html.EditorFor(model => model.FirstName)
            </div>
        </div>
        <div>
            Фамилия
            <div>
                @Html.EditorFor(model => model.LastName)
            </div>
        </div>
        <div>
            Номер
            <div>
                @Html.EditorFor(model => model.PhoneNumber)
            </div>
        </div>
        <div>
            Пароль
            <div>
                @Html.EditorFor(model => model.Password)
            </div>
        </div>

        <div>
            Подтвердить пароль
            <div>
                @Html.EditorFor(model => model.PasswordConfirm)
            </div>
        </div>

        <div>
            <div>
                <input type="submit" value="Зарегистрировать" />
            </div>
        </div>
    </div>
}