﻿@model PresentationLayer.Models.IndexViewModel
@{
    ViewBag.Title = "Смена имени";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ChangeFirstName", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Форма смены имени</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger none-style-list" })
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Смена имени" class="btn btn-default" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}