﻿@model PresentationLayer.Models.IndexViewModel
@{
    ViewBag.Title = "Управление";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Изменение параметров учетной записи</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Пароль:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Смена пароля", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Создать", "SetPassword")
            }
            ]
        </dd>
        <dt>Имя:</dt>
        <dd>
            @(Model.FirstName ?? "None")
            [
                @Html.ActionLink("Смена имени", "ChangeFirstName")
            ]
        </dd> 
        <dt>Фамилия:</dt>
        <dd>@(Model.LastName ?? "None")
        [
        @Html.ActionLink("Смена фамилии", "ChangeLastName")
        ]
            
        </dd> 
        <dt>Номер телефона:</dt>
        <dd>
            @(Model.PhoneNumber ?? "None")
            @if (Model.PhoneNumber != null)
            {
                <br />
                            <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                }
            }
            else { 
                <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber") </text>
                }
            </dd>
    </dl>
</div>

