﻿@using DAL.Entities.Enumerations
@model PresentationLayer.Models.HotelViewModel

@{
    ViewBag.Title = "Добавление отеля";
}

<h2>Добавление отеля</h2>

@using (Html.BeginForm("Create", "UserHome"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />

        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name, null, new Dictionary<string, object>() { ["class"] = "text-danger none-style-list" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Category, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Category, new SelectList(Enum.GetNames(typeof(CategoryHotel))), new { @class = "selectpicker" })
                @Html.ValidationMessageFor(model => model.Category, null, new Dictionary<string, object>() { ["class"] = "text-danger none-style-list" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Location, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Location)
                @Html.ValidationMessageFor(model => model.Location, null, new Dictionary<string, object>() { ["class"] = "text-danger none-style-list" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Добавить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

