﻿@model IEnumerable<PresentationLayer.Models.HotelViewModel>

@if (!Model.Any())
{
    <tr>
        <td colspan="3">
            <p>
                <b>Отели не найдены</b>
            </p>
        </td>
    </tr>
}
else
{
    foreach (var hotel in Model)
    {
        <tr>
            <td>@hotel.Name</td>
            <td>@hotel.Category.ToString()</td>
            <td>@hotel.Location</td>
        </tr>
    }
}
