﻿@using DAL.Entities.Enumerations
@model PresentationLayer.Models.ViewModels.HotelsListViewModel

@{
    ViewBag.Title = "Index";
    AjaxOptions ajaxOptions = new AjaxOptions()
    {
        UpdateTargetId = "tableBody"
    };
}

<h2>Список отелей</h2>

<div id="searchBox" class="form-horizontal">
    @using (Ajax.BeginForm("GetHotels", null, ajaxOptions, new { id = "search-hotels-form" }))
    {
        <div class="form-group">
            <div class="col-md-10">
                @Html.DisplayNameFor(model => model.Name)
                @Html.TextBoxFor(model => model.Name, new { id = "search-hotels-textbox" })

                <input type="submit" value="Поиск" class="btn btn-default" />

                @Html.ValidationMessageFor(model => model.Name, null, new Dictionary<string, object>() { ["class"] = "text-danger none-style-list" })
            </div>
        </div>
    }
</div>

<div id="hotels-list-container">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Hotel.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Hotel.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Hotel.Location)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody id="tableBody">
            @if (string.IsNullOrEmpty(Model.Name))
            {
                @Html.Partial("HotelsList", Model.HotelsList)
            }
        </tbody>

    </table>
</div>


<div id="add-hotel-containter">

    <h4>Добавление отеля</h4>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />

            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Hotel.Name)
                    @Html.ValidationMessageFor(model => model.Hotel.Name, null, new Dictionary<string, object>() { ["class"] = "text-danger none-style-list" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Hotel.Category, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Hotel.Category, new SelectList(Enum.GetNames(typeof(CategoryHotel))))
                    @Html.ValidationMessageFor(model => model.Hotel.Category, null, new Dictionary<string, object>() { ["class"] = "text-danger none-style-list" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Hotel.Location, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Hotel.Location)
                    @Html.ValidationMessageFor(model => model.Hotel.Location, null, new Dictionary<string, object>() { ["class"] = "text-danger none-style-list" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Добавить" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>
